
html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body{
   /* margin: 0 0 100px; /* bottom = footer height */
    padding: 0;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    background: #ffffff;
}


.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

#header{
  position: absolute;
  padding: 20px 0;
  top: 20px;
  width: 100%;
}
.navbar{
  background-color: transparent;
  border: none;
  z-index: 9999;
}

.nav{
  float: right;
  max-width: 575px;
}
.nav li{
  float: left;
  margin-right: 10px; 
}

.nav li:last-child{
  margin: 5px;
}
.navbar .nav li a{
  text-transform: uppercase;
  font: 14px Arial, sans-serif;
  color:#fff;
}

.nav a:hover{
  background: transparent !important;
  color:#fed136 !important;
}
.navbar-inverse .navbar-nav>.active>a{
  background-color: transparent !important;
  color: #e3af02 !important;
  text-decoration: underline;
}

#home{
  min-height: 700px;
  padding-top: 270px;
  text-align: center;
  color: #fff;
  background: #222 url('../images/home-bg.jpg') no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home h3{
  font: 40px/40px Arial, sans-serif; 
  margin-bottom: 35px; 
}
#home h1{
  text-transform: uppercase;
  font: 75px/75px Arial, sans-serif;
  margin-bottom: 50px;
}
.btn{
  padding: 20px 30px;
  background-color: #fed136;
  display: inline-block;
  text-transform: uppercase;
  font: bold 24px/24px Arial, sans-serif;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.btn:hover{
   background-color: #e4af01;
}
#services{
  min-height: 570px;
  padding-top: 110px;

}
h1{
  text-transform: uppercase;
  font: bold 40px/40px Arial, sans-serif;
  margin-bottom: 10px;
}
h5{
  font: 16px "Times New Roman", serif;
  margin-bottom: 75px;
}
h3{
  font: bold 18px Arial, sans-serif; 
  margin-bottom: 10px;
} 
#services p{
   font: 18px "Times New Roman", serif;
}

#portfolio{
  min-height: 1220px;
  padding-top: 120px;
}
#portfolio p{
  font: 14px "Times New Roman", serif;
}
#portfolio .row{
  margin-bottom: 75px;
}

#about{
  min-height: 1680px;
  padding-top: 120px;
}
#about .row:after{
  content: " ";
  display: block;
  height: 95px;
  width: 3px;
  margin: 0 auto;
}
#about .right{
  margin-right: -20px;
}

#about .left{

  margin-left: -20px;
}

#about h3{
  margin-top: 5px;
}

#about p {
   font: 16px "Times New Roman", serif;
}

#team {
  min-height: 980px;
  padding-top: 120px;
}
#team h4{
font: bold 16px Arial, sans-serif;
}
#team p{
  font: 14px Arial, sans-serif;
  margin-bottom: 5px;
}
 a{
  text-decoration: none;
}
.fa{
  font-size: 20px;
  padding: 8px;
  border: solid 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 5px;
  color: #222222;
}

#team .row:after{
  content: " ";
  display: block;
  height: 40px;
  width: 3px;
  margin: 0 auto;
}

.logos{
  display: inline-block;
   padding: 60px 0;
}
.logos img{
  margin: 5px 15px;
}

#contact{
  min-height: 680px;
  padding-top: 110px;
  color: #fff;
  background: #222 url('../images/maps.png') no-repeat right bottom;;

}


#messege input[type="text"],
#messege textarea{
  width:100%;
  font: bold 14px/14px Arial, sans-serif ;
  margin-bottom: 30px;
  color:#222;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  -o-border-radius: 4px;
  box-shadow: none;
  background: #fff
}
#messege input[type="text"]{
  height: 50px;
  border:1px solid #ccc;
}

#messege textarea{
  height: 210px;
  border: none;
}
::-webkit-input-placeholder{
font: bold 14px/14px Arial, sans-serif ;
color: #bbb;
text-transform: uppercase;
}
::-moz-placeholder{
font: bold 14px/14px Arial, sans-serif ;
color: #bbb;
text-transform: uppercase;
}

footer{
  min-height: 90px;
}

footer .row{
padding-top: 20px;
}

footer p {
 
  padding-top: 15px; 
  font: 14px Arial, sans-serif;
}